[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pydng = {subdirectory = "src", git = "https://github.com/schoolpost/PyDNG.git"}

[dev-packages]

[requires]
python_version = "3.7"
